<div class="jumbotron">
    <h1>Universal Web Api</h1>
    <p class="lead">Universal Web Api is a free web api for building great dynamic web api.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Configure your databases.</p>
        <p><span class="text-danger">\\apiFile\\v1\\uwav1.uwa.db</span></p>
    </div>
    <div class="col-md-4">
        <h2>Write SQL queries</h2>
        <p>Write SQL queries as you required corresponding the database table</p>
        <p><span class="text-danger">readme.md</span></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Publish and Host this app to IIS or ASP.NET server.</p>
        <p><a class="btn btn-primary" href="https://github.com/IbneKayesh">Learn more &raquo;</a></p>
    </div>
</div>