<div class="jumbotron">
    <h1>Universal Web Api</h1>
    <p class="lead">Universal Web Api is a free for building great dynamic web application with MSSQL and Oracle Database.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Configure your databases.</p>
        <p><span class="text-danger">\\apiFile\\v1\\uwav1.uwa.db</span></p>
    </div>
    <div class="col-md-4">
        <h2>Write SQL queries</h2>
        <p>Write SQL queries as you required corresponding the database table</p>
        <p><span class="text-danger">readme.md</span></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Publish and Host this app to IIS or ASP.NET server.</p>
        <p><a class="btn btn-primary" href="https://github.com/IbneKayesh">Learn more &raquo;</a></p>
    </div>
</div>
<hr />
<table class="table table-bordered">
    <caption>Manage your API</caption>
    <tr>
        <td><a href="@Url.Action("Index","Payload", new { Area ="Manager"})" class="btn btn-primary btn-xs">Payload</a></td>
        <td><a href="@Url.Action("Index","Branch", new { Area ="Manager"})" class="btn btn-primary btn-xs">Branch</a></td>
    </tr>
</table>